# **Basic concepts in Python**

Why Python :
- Excellent data structure 
- Simple and clean syntax
- Possiblity of Object oriented programs
- Open source
- Interpreter language

## Variables, Operators

Variables 
- Integer 
- Float
- Complex 

Mathematical Operators 
- Addition (+)
- Substraction (-)
- Multiplication (*) 
- Division (/) 
- Modulo (%) 
- Power (**) 
- Floor Division (//) 

Comparison Operators:
- Equal to (==) 
- Not Equal to (!=)
- Less than and Greater than (<>)
- Less than equal to (<=)
- Greater than equal to (>=)

Membership Operators:
- in 
- not 
- as

In [1]:
print("Hello Welcome")

Hello Welcome

In [2]:
'Hello'

'Hello'

In [5]:
"""Hello it\'s working"""

"Hello it's working"

In [10]:
print("""I want to learn Python.
Is this going to work
on multiple lines.""")

I want to learn Python.
Is this going to work
on multiple lines.

In [11]:
"""I want to learn Python.
Is this going to work
on multiple lines."""

'I want to learn Python.\nIs this going to work\non multiple lines.'

In [13]:
print("""\t I am starting with Python. \n This should be next line""")

	 I am starting with Python.
 This should be next line

## Namespace (variables)

In [14]:
x = 2
y = 4

In [4]:
y="Name"
print(y)

Name

In [7]:
xx,yy,zz = "My", "Name", "is"
print(xx,yy,zz)

My Name is

In [8]:
fruits = ["apple","banana","grapes"] 
x,y,z=fruits 
print(x,y,z)

apple banana grapes

## Python as calculator

In [15]:
2+1.2

3.2

In [16]:
18.2//5

3.0

In [17]:
18.2%5

3.1999999999999993

## Complex Numbers

In [19]:
z1 = 1 + 2j

In [20]:
z2 = 2 + 3j

In [21]:
z1 + z1

(2+4j)

## Boolean Numbers

In [22]:
True + True

2

In [23]:
True + False

1

In [24]:
True * False

0

## Comparison

In [25]:
2 > 3

False

In [26]:
6 == 8

False

In [27]:
10%3 == 1

True

## Types and Identiry of objects

In [28]:
type(5)

int

In [29]:
type(1.2)

float

In [30]:
type(1+2j)

complex

In [33]:
type ("Something")

str

In [34]:
type(True)

bool

## Indentation

In [3]:
if 5>2:
    print("5 is greater than 2")

5 is greater than 2

## Casting

In [6]:
x = str(3)
y = int(3)
z = float(3)
print(x,y,z) 
print(type(x),type(y),type(z))

3 3 3.0
<class 'str'> <class 'int'> <class 'float'>

---
# **Control Structures** 
- if, if-else, if-elif-else 
- while 
- for

In [1]:
fruits = ["apple","banana","grapes"] 
x,y,z=fruits 
print(x,y,z)

apple banana grapes

In [2]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [3]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [4]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [7]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break 
    print(x)

apple

### Continue and Pass 
continue: forces the loop to start at the next iteration 
pass: means "there is no code to execute here" and 
      will continue through the remainder of the loop body.

In [8]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue  
    print(x)

apple
cherry

In [9]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        pass 
    print(x)

apple
banana
cherry

--- 
## Lists 

- Used to store multiple variables in a single variable
- Can be modified, added etc. 
- defined by square brackets

In [21]:
fruits1 = ["banana","apple","orange"]
fruits2 = ["grapes","melon","papaya"] 
print(fruits1) 
print(len(fruits1)) 
print(fruits1[2],fruits1[-1]) 
fruits_sum=fruits1+fruits2
print(fruits_sum) 
print(fruits_sum[2:5])

['banana', 'apple', 'orange']
3
orange orange
['banana', 'apple', 'orange', 'grapes', 'melon', 'papaya']
['orange', 'grapes', 'melon']

In [28]:
fruits1 = ["banana","apple","orange"]
fruits1.append("cherry") 
print(fruits1) 
fruits1.remove("orange")
print(fruits1) 
fruits1.pop(1) 
print(fruits1)

['banana', 'apple', 'orange', 'cherry']
['banana', 'apple', 'cherry']
['banana', 'cherry']

In [51]:
fruits1 = ["banana","apple","orange"]
fruits2 = ["grapes","melon","papaya"] 
fruits_sum1=fruits1+fruits2
for x in fruits_sum1:
    if x == "melon":
        break 
    print(x)

banana
apple
orange
grapes

In [52]:
#fruits1.remove("apple")
#print(fruits1) 
print(fruits1) 
fruits1.pop(2)
print(fruits1)

['banana', 'apple', 'orange']
['banana', 'apple']

### Continue vs Pass 

**Continue** forces the loop to start at the next iteration 

**Pass** means "there is no code to execute here" and will continue through the remainder of the loop body.

In [37]:
fruits1 = ["banana","apple","orange"]
fruits2 = ["grapes","melon","papaya"] 
fruits_sum1=fruits1+fruits2
for x in fruits_sum1:
    if x == "melon":
        continue 
    print(x)

banana
apple
orange
grapes
papaya

In [38]:
fruits1 = ["banana","apple","orange"]
fruits2 = ["grapes","melon","papaya"] 
fruits_sum1=fruits1+fruits2
for x in fruits_sum1:
    if x == "melon":
        pass 
    print(x)

banana
apple
orange
grapes
melon
papaya

In [31]:
fruits1 = ["banana","apple","orange"]
fruits2 = ["grapes","melon","papaya"] 
fruits_sum1=fruits1+fruits2
i = 0 
while i < len(fruits_sum1):
    print(i) 
    i = i+1

0
1
2
3
4
5

In [32]:
fruits1 = ["banana","apple","orange"]
fruits2 = ["grapes","melon","papaya"] 
fruits_sum1=fruits1+fruits2
fruits_sum1.sort()
print(fruits_sum1)

['apple', 'banana', 'grapes', 'melon', 'orange', 'papaya']

In [34]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [35]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

--- 
## Tuples
- Used to store multiple variables in a single variable 
- Are unchangable 
- defined with round brackets

In [58]:
tup1 = ("banana","apple","grapes")
print(tup1[1])
tup2 = ("melon","oranges","blueberry")
sum_tup=tup1+tup2
print(sum_tup) 
print(sum_tup[2:4])
print(sum_tup[-2:])

apple
('banana', 'apple', 'grapes', 'melon', 'oranges', 'blueberry')
('grapes', 'melon')
('oranges', 'blueberry')

--- 
## Directory

--- 
## Program 1
Factorial of a number

In [33]:
# Python program to find the factorial of a number provided by the user.

# change the value for a different result
num = 7

# To take input from the user
#num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 7 is 5040